/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 10px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.boxs {
  width: 80%;
  margin: 10px 230px;
  border: 1px solid gray;
  height: 700px;
}

.boxs > img {
  margin: 20px 10px;
  width: 99%;
  height: 490px;
}

.btn-1 {
  background-color: rgb(92,184,92);
  width: 40px;
  margin: 20px 20px;
  color: white;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
}

.btn-2 {
  margin: 20px 360px;
}

.btn {
  background-color: white;
  width: 40px;
  border: 1px solid;
  color: gray;
  padding: 5px 5px;
  font-size: 12px;
  cursor: pointer;
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}

/* Set a style for all buttons */
button {
  background-color: rgb(68,68,68);
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  width: 25%;
}

a {
  font-family: 'Poppins',sans-serif;
  color:rgb(54,149,213);
  text-decoration: none;
  margin-left: 10px;
  font-size: 13px;
}
a:hover{
  color:black;
}

button:hover {
  color:black;
  opacity: 0.8;
}

.box {
  margin: 10px 10px;
}

/* Extra styles for the cancel button */
.cancelbtn {
  margin-left: 45%;
  width: 20%;
  color: #888;
  padding: 10px 18px;
  border: 1px solid grey;
  background-color: white;
}

/* Center the image and position the close button */
.imgcontainer {
  margin-left: 200px;
  border-bottom: 1px solid gray;
  color: rgb(105,178,59);
  margin: 2px 10px;
  position: relative;
}

.container {
  margin-left: 10%;
  padding: 16px;
}

.containeri {
  margin-left: 4%;
  padding: 5px;
  height: 25px;
  width: 280px;
}

.ov {
 margin-left: 1%;
 width: 292px;
 height: 25px;
}

.box {
   margin: 10px auto;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
  height: 450px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 25px;
  top: 0;
  color: #000;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: red;
  cursor: pointer;
}

/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}